<!DOCTYPE html>
<html>
<head>
  <title>Pagina de Instalacion</title>
</head>
<body>

  <h2>Instalar la Aplicación</h2>

  <form method="GET" action="login">
    <label>Capture el nombre de su Tienda:</label>
    <input type="text" name="shop" placeholder="superduper.myshopify.com"/>
    <button type='submit'>Instalar</button>
  </form>



</body>
</html>
