<script type="text/javascript">
    ShopifyApp.print = function(){
    changeSomeLayout();
    window.print();
    doSomeOtherAction();
  }

  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      buttons: {
        primary: {
          label: 'Print',
          print: true
        }
      },
  buttons: {
    primary: {
      label: "Guardar",
      message: 'bar_save',
      loading: true
    },
    secondary: [
      { label: "Ayuda", callback: function(){ alert('help'); } },
      { label: "Mas...",
        type: "dropdown",
        links: [
                 { label: "Actualizar", href: "/update", target: "app" },
                 { label: "Borrar", callback: function(){ alert("destroy") } }
               ]
      },
      { label: "Preview", href: "http://my-app.com/preview_url", target: "new" }
    ],
  },
  title: 'Productos',
  icon: 'https://example.com/path/to/icon.png',
  pagination: {
    next: {
      href: "/posts?page=2"
    },
    previous: {
      callback: function(){ alert('no previous pages') },
      loading: false
    }
  },
  breadcrumb: {
    label: "Subsection",
    href: "/subsection",
    target: 'app',
    loading: false
  }
});
  });
</script>
<div class="section-listing">
    <div class="section-options">
        <ul class="section-tabs">
            <li class="active"><a href="#top">Todos</a></li>
            
        </ul>
        <div class="section-filter">
          <div class="section-row">
            <a class="btn filter-left" href="#">Filtrar productos <span class="icon ico-down"></span></a>
            <input class="input-search" placeholder="Information about this filter" type="text">
          </div>
        </div>
        <div class="section-content">
            <div class="section-row">
                <table class="table-section">
                  <thead>
                  <tr>
                      <th class="sortable">ID</th>
                      <th class="sortable">TITULO</th>
                      <th class="sortable">IMAGEN</th>
                      <th class="sortable">Column 4</th>
                  </tr>
                  </thead>
                  <tbody>
                      <% @products.each do |product| %>
                        <tr>
                          <td>
                            <a href='https://<%="#{@shop_session.url}/admin/products/#{product.id}"%>' target="_blank"> <%= product.id %> </a>
                          </td>
                          <td><%= product.title %></td>
                          <td><%= product.image.attributes[:id] %></td>
                          <td><a href="#top" class="btn default">Botón de Acción</a></td>
                        </tr>
                      <% end %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>        
